<section class="container">
    <div class="login">
        <h1>Login to Meeting Application</h1>&nbsp;&nbsp;&nbsp;<span style="color: red">{{loginFailMsg}}</span>
        <form name="loginForm">
            <p><input type="text" name="login" ng-model="login.loginEmail" placeholder="Username or Email" required=""></p>
            <p><input type="password" name="password" ng-model="login.loginPassword" placeholder="Password" required=""></p>
            <p class="submit"><input type="submit" ng-click="loginUser(login)" value="Login"></p>
        </form>
    </div>

<!--    <div class="login-help">
        <p>Forgot your password? <a href="index.html">Click here to reset it</a>.</p>
    </div>-->
</section>